## -----------  ELIXIR VARIABLES  ----------------

# Postgres host
POSTGRES_HOST=postgres

# Postgres database
POSTGRES_DATABASE=app

# User for Postgres
POSTGRES_USER=bsolus

# Password for Postgres (Run the command `openssl rand -hex 16`)
POSTGRES_PASSWORD=openssl rand -hex 16

# Secret for elixir (Run `mix phx.gen.secret` on the dev container)
SECRET_KEY_BASE=mix phx.gen.secret

# Host where this service is running
HOST=localhost