<form id="search" phx-submit="search" phx-change="validate">
  <header class="px-2 sticky top-0 z-20 bg-white">
    <div class="flex items-center justify-between border-b border-zinc-100 py-3 text-sm">
      <div class="flex items-center">
        <div class="relative md:ml-2">
          <input type="submit" hidden />
          <%= if assigns[:model] do %>
            <select
              {@state}
              id="model"
              name="model"
              class="placeholder:italic placeholder:text-slate-400 shadow appearance-none border rounded my-1 mr-1 w-22 text-gray-800  leading-tight focus:ring-0 focus:shadow-outline focus:border-red-400"
            >
              <%= Phoenix.HTML.Form.options_for_select(
                ["GTP 4": :"gpt-4-1106-preview", "GTP 3": :"gpt-3.5-turbo-1106"],
                @model
              ) %>
            </select>
          <% end %>
          <%= if assigns[:type] do %>
            <input
              id="type"
              name="type"
              value={@type}
              type="text"
              {@state}
              class="placeholder:italic placeholder:text-slate-400 shadow appearance-none border rounded my-1 w-40 text-gray-800  leading-tight focus:ring-0 focus:shadow-outline focus:border-red-400"
              placeholder="Article"
            /> about
          <% end %>
          <input
            id="question"
            name="question"
            value={@question}
            type="text"
            {@state}
            class="placeholder:italic placeholder:text-slate-400 shadow appearance-none border rounded my-1 md:w-96  text-gray-800  leading-tight focus:ring-0 focus:shadow-outline focus:border-red-400"
            placeholder="Topic"
            required
          />
          <%= if assigns[:uploads] do %>
            <.live_file_input upload={@uploads.images} phx-drop-target={@uploads.images.ref} />
          <% end %>
          <button type="submit" class="ml-2" {@state}>Search</button>
        </div>
      </div>
    </div>
  </header>
  <main class="px-4 sm:px-6 lg:px-8 xl:px-28 mt-10 relative">
    <div class="mx-auto max-w-xl lg:mx-0">
      <.flash_group flash={@flash} />
      <%= @inner_content %>
      <!-- Back to top button -->
      <button
        type="button"
        data-mdb-ripple="true"
        data-mdb-ripple-color="light"
        class="fixed inline-block p-3 bg-red-400 text-white font-medium text-xs leading-tight uppercase rounded-full shadow-md hover:bg-red-700 hover:shadow-lg focus:bg-red-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-800 active:shadow-lg transition duration-150 ease-in-out bottom-5 left-5"
        id="btn-back-to-top"
      >
        <svg
          aria-hidden="true"
          focusable="false"
          data-prefix="fas"
          class="w-4 h-4"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 448 512"
        >
          <path
            fill="currentColor"
            d="M34.9 289.5l-22.2-22.2c-9.4-9.4-9.4-24.6 0-33.9L207 39c9.4-9.4 24.6-9.4 33.9 0l194.3 194.3c9.4 9.4 9.4 24.6 0 33.9L413 289.4c-9.5 9.5-25 9.3-34.3-.4L264 168.6V456c0 13.3-10.7 24-24 24h-32c-13.3 0-24-10.7-24-24V168.6L69.2 289.1c-9.3 9.8-24.8 10-34.3.4z"
          >
          </path>
        </svg>
      </button>
      <button
        phx-click="show_html"
        type="button"
        data-mdb-ripple="true"
        data-mdb-ripple-color="light"
        class="fixed inline-block p-2 py-3 bg-red-400 text-white font-medium text-xs leading-tight uppercase rounded-full shadow-md hover:bg-red-700 hover:shadow-lg focus:bg-red-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-800 active:shadow-lg transition duration-150 ease-in-out bottom-5"
        id="btn-show-html"
      >
        Show html
      </button>
    </div>
  </main>
</form>
